
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
              th:href="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"
              rel="stylesheet" media="screen" />
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
        th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    </head>
    <body>
        <div class="container" th:fragment="content">
            <form action="http://localhost:8080/aluno/novo/" method="POST" role="form" class="form-horizontal">
                  <div class="form-group">
                    <label for="matricula">Matricula:</label>
                    <input type="text" class="form-control" id="matricula" name="matricula"/>
                </div>
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome"/>
                </div>
                <div class="form-group">
                    <label for="curso">Curso:</label>
                    <input type="text" class="form-control" id="curso" name="curso"/>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>
    </body>
</html>
